<!DOCTYPE html>
<html lang="en">
<head>
    <title>Barbara Goodman Law</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.css">
  <link rel="stylesheet" href="./public/css/style.css">
 <link href="https://fonts.googleapis.com/css?family=Poiret+One|Quicksand|Raleway" rel="stylesheet"> 
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
</head>
<body>

{{!-------------- HEADING -------------}}

<div class="container-fluid top">
  <div class="row">
    <div class="col-sm-5">
      <ul class="poiret">
        <li>Law Offices Of</li>
        <li>Barbara Goodman</li>
      </ul>
    </div>
    <div class="col-sm-7 image">
    </div>
  </div>
</div>

{{!------------- NAVIGATION -----------}}

<nav class="navbar sticky-top navbar-expand-md navbar-dark bg-dark">
  <a class="navbar-brand" href="#"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="flex-fill navbar-nav mr-auto raleway">
      <li class="nav-item">
        <a class="nav-link" href="/">Welcome</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/team">Our Team</a>
      <li class="nav-item">
        <a class="nav-link" href="/services">Services</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/contact">Contact</a>
      </li>
    </ul>
  </div>
</nav>

{{!------------- MAIN -----------}}

<div class="container-fluid contact">
  <h2 class="raleway">Contact Us</h2>
</div>

<div class="container-fluid contact">
  <div class="row">
    <div class="col-md-12">
      <p>If you need legal assistance, services, or simply have legal questions, contact Barb Goodman Law for a consultation. If we cannot provide that service, we can help you find someone who can!</p>
    </div>
    <div class="col-md-12 info">
        <div class="icon">
            <i class="fas fa-envelope"></i>
            <h6>barb@barbgoodmanlaw.com</h6>
        </div>
          <div class="icon">
            <i class="fas fa-phone"></i>
            <h6>847-317-0282</h6>
          
        </div>
          <div class="icon">
          <i class="fas fa-map-marked-alt"></i>
          <h6>55 Skokie Blvd #250, Northbrook IL 60062</h6>
        </div>
    </div>
    
    <div class="col-md-6 form">
        <div class="container">
          <h1>Contact Us</h1>

 <form action="/contact" method="POST">
            <div class="row">
                <div class="charta"> 
                  {{!-- <label>First Name</label> --}}
                  <input placeholder="First Name" type="text" name="firstName" class="chart-control" required>
                </div>
                <div class="chartb"> 
                  {{!-- <label>Last Name</label> --}}
                  <input placeholder="Last Name" type="text" name="lastName" class="chart-control" required>
                </div>
                <div class="chart"> 
                  {{!-- <label>Email</label> --}}
                  <input placeholder="Email" type="email" name="email" class="chart-control" required>
                </div>
                <div class="chart">
                  {{!-- <label>Message</label> --}}
                  <textarea name="message" cols="30" rows="10" class="chart-control" placeholder="Message" required></textarea>
                </div>
                <div class="chart">
                  <input type="submit" class="chart-control" value="Submit">
              </div>  
            </div>  
          </form>

        
        </div>
    </div> 
    <div class="col-md-6 map">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d11833.355716386985!2d-87.80778450329366!3d42.14303351065109!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x880fc137ce774d11%3A0x61b6359d68d38fb2!2sBarb+Goodman+Law!5e0!3m2!1sen!2sus!4v1546716412544"  frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
  </div>
</div>









{{!-- FOOTER --}}

<div class="container-fluid footer">
  <div class="row">
    <div class="col-md-4">Address</div>
    <div class="col-md-4">contact</div>
    <div class="col-md-4">Some Disclosure...</div>
  </div>
</div>



</body>

<script src="../node_modules/jquery/dist/jquery.js"></script>
<script src="../node_modules/popper.js/dist/umd/popper.js"></script>
<script src="../node_modules/bootstrap/dist/js/bootstrap.js"></script>

</html>