<!DOCTYPE html>
<html lang="en">
<head>
  <title>Barbara Goodman Law</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.css">
  <link rel="stylesheet" href="./public/css/style.css">
 <link href="https://fonts.googleapis.com/css?family=Poiret+One|Quicksand|Raleway|Orbitron" rel="stylesheet"> 
 <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
 </head>
<body>
   <div class="container-fluid header">
    <div class="label">
        <div class="label-con1">
            <img src="../public/images/bglwhite.png">
        </div>
        <div class="label-con2">
           <a id="contact-us" href="/contact"><button>Contact Us</button></a>
            <div class="angle">
               <a class="pagedown"><i class="fas fa-angle-down"></i></a>
            </div>
        </div> 
    </div>
    <div class="pic">
    </div>    
  </div>

<nav class="navbar sticky-top navbar-expand-md navbar-dark bg-dark">
  <a class="navbar-brand" href="#"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="flex-fill navbar-nav mr-auto raleway">
      <li class="nav-item active">
        <a class="nav-link" href="#">Welcome</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/team">Our Team</a>
      <li class="nav-item">
        <a class="nav-link" href="/services">Services</a>
      </li>
       {{!-- <li class="nav-item">
        <a class="nav-link" href="/philanthropy">Philanthropy</a>
      </li> --}}
      <li class="nav-item">
        <a class="nav-link" href="/contact">Contact</a>
      </li>
    </ul>
  </div>
</nav>

{{!-- MAIN --}}


  <div class="container index" id="welcome">
   
          <h1 class="raleway">About Your Firm</h1>
          <p>With a longstanding history of working with all aspects of law, Barb Goodman Law Group has a focus on Real Estate, Wills and Estate Planning, and Election Law. With Barb Goodman at the lead, all clients can expect a superior level of service, respect, and attention that extends long beyond the typical workday. </p>
    </div>
      <div class="container index">
          <h1 class="raleway">Business Philosophy</h1>
          <p>With Real Estate and Estate Planning, Barb recognizes the importance of her role in your process with this big financial decisions. With care, experience, and expertise Barb can help guide each individual client to the decision that is best for them. Knowing that these can all be very emotional experiences, Barb shows an incredible level of patience along with focus to be the ideal advocate. Barb's main focus is your goals and your protection. </p>
  </div>
      <div class="angle2">

       </div>

  <div class="container-fluid blue">
          <h1 class="raleway">These are the areas of focus for BGL. </h1>
          <div class="focus re">
            <div class="focus-in draw">
                <h2>Real Estate</h2>
                <p>Helping Buyers, Sellers, Investors, and Landlords from start to finish will all their Real Estate needs.</p>
            </div>
            </div><div class="focus el">
              <div class="focus-in draw">
                <h2>Election Law</h2>
                <p>As a Hearing specialist, Barb has worked with many aspects of the Government and has experience reviewing many different cases.</p>
              </div>
            </div>
  </div>

<div>
      <div class="angle1">

       </div> 
 <div class="container index testimonial mb-5">

   
    <h2 class="raleway">Testimonials</h2>

<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel" data-interval="8000">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <p><em>"Barb's level of responsiveness and direction helped me through a very stressful process. I would highly recommend Barb to any buyer or seller looking for a trusted advocate!"</em></p>
      <p class="author"><em>-Stu D.</em></p>
    </div>
    <div class="carousel-item">
      <p><em>"Barb helped me navigate a difficult situation with confidence and expertise, and guided me to a situation that was best for me. I can't thank Barb enough for her guidance and heavy hand throughout my selling process!" </em></p>
      <p class="author"><em>-Suzanne C.</em></p>
    </div>
    <div class="carousel-item">
      <p><em>"My family was in great hands with all of Barb's help with our wills and estate and I feel much more comfortable with her advice!"</em></p>
      <p class="author"><em>-Nora D.</em></p>
    </div>
  </div>
</div>
  </div>


</div>
 




{{!-- FOOTER --}}

<div class="container-fluid footer">
  <div class="row">
    <div class="col-md-4">Address</div>
    <div class="col-md-4">contact</div>
    <div class="col-md-4">Some Disclosure...</div>
  </div>
</div>



</body>

<script src="../node_modules/jquery/dist/jquery.js"></script>
<script src="../node_modules/popper.js/dist/umd/popper.js"></script>
<script src="../node_modules/bootstrap/dist/js/bootstrap.js"></script>
<script src="../public/style.js"></script>

</html>