<!DOCTYPE html>
<html lang="en">
<head>
    <title>Barbara Goodman Law</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.css">
  <link rel="stylesheet" href="./public/css/style.css">
  <link href="https://fonts.googleapis.com/css?family=Quattrocento+Sans|Raleway" rel="stylesheet">
</head>
<body>

  <div class="container-fluid header">
    <div class="container">
      <h1>Barbara Goodman Law</h1>
      <h3>Real Estate Professional</h3>
    </div>
  </div>

<nav class="navbar sticky-top navbar-expand-md navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Welcome <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Our Team</a>
      <li class="nav-item">
        <a class="nav-link" href="#">Philosphy</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/contact">Contact</a>
      </li>
    </ul>
  </div>
</nav>


<div class="container-fluid index">
  <div class="container">
    <h3>Welcome and intro</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis eligendi animi cum ab excepturi voluptate tenetur magnam nisi vel quaerat quibusdam facere, maxime consequatur non culpa dolor eos eius aspernatur.</p>
  </div>
  <div class="container">
    <h1>Services Outline</h1>
  </div>
  <div class="container">
    <h1>Philosphy</h1>
  </div>

</div>


{{!-- FOOTER --}}

<div class="container-fluid footer">
  <div class="row">
    <div class="col-md-4">Address</div>
    <div class="col-md-4">contact</div>
    <div class="col-md-4">Some Disclosure...</div>
  </div>
</div>



</body>

<script src="../node_modules/jquery/dist/jquery.js"></script>
<script src="../node_modules/popper.js/dist/umd/popper.js"></script>
<script src="../node_modules/bootstrap/dist/js/bootstrap.js"></script>

</html>