<!DOCTYPE html>
<html lang="en">
<head>
    <title>Barbara Goodman Law</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.css">
  <link rel="stylesheet" href="./public/css/style.css">
 <link href="https://fonts.googleapis.com/css?family=Poiret+One|Quicksand|Raleway" rel="stylesheet"> 
</head>
<body>

{{!-------------- HEADING -------------}}

<div class="container-fluid top">
  <div class="row">
    <div class="col-sm-5">
      <ul class="poiret">
        <li>Law Offices Of</li>
        <li>Barbara Goodman</li>
      </ul>
    </div>
    <div class="col-sm-7 image">
    </div>
  </div>
</div>

{{!------------- NAVIGATION -----------}}

<nav class="navbar sticky-top navbar-expand-md navbar-dark bg-dark">
  <a class="navbar-brand" href="#"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="flex-fill navbar-nav mr-auto raleway">
      <li class="nav-item">
        <a class="nav-link" href="/">Welcome</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/team">Our Team</a>
      <li class="nav-item active">
        <a class="nav-link" href="/services">Services</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/contact">Contact</a>
      </li>
    </ul>
  </div>
</nav>

{{!--------------- MAIN -------------}}

<div class="container padding services">
  <h1 class="raleway">Services</h1>
</div>

<div class="container services">
  <h2>Big focus on Real Estate Law: what services you provide</h2>
  <div class="row">
    <div class="col-sm-8">
        <p class="">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo corrupti nisi aliquam voluptates eveniet impedit, dolor, ut saepe ullam distinctio minima fugit tempore suscipit quod illum cum, ab mollitia nemo?</p>
    </div>
    <div class="col-sm-3">
        <img class="img-responsive" src="../public/images/darkgray.jpg" width=100%>
    </div>
    <div class="col-sm-1">
    </div>
    
  </div>
</div>
<div class="container-fluid lawyer">

</div>

<div class="container services">
  <div class="row">
    <div class="col-sm-6">
       <h2 class="">other law services you provide</h2>
        <p class="">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo corrupti nisi aliquam voluptates eveniet impedit, dolor, ut saepe ullam distinctio minima fugit tempore suscipit quod illum cum, ab mollitia nemo?</p>
    </div>
    <div class="col-sm-1">

    </div>
    <div class="col-sm-5">
        <img class="img-responsive" src="../public/images/gray.jpg" width=100%>
    </div>
  </div>
</div>


{{!------------ FOOTER ---------------}}

<div class="container-fluid footer">
  <div class="row">
    <div class="col-md-4">Address</div>
    <div class="col-md-4">contact</div>
    <div class="col-md-4">Some Disclosure...</div>
  </div>
</div>

</body>

<script src="../node_modules/jquery/dist/jquery.js"></script>
<script src="../node_modules/popper.js/dist/umd/popper.js"></script>
<script src="../node_modules/bootstrap/dist/js/bootstrap.js"></script>

</html>