<!DOCTYPE html>
<html lang="en">
<head>
    <title>Barbara Goodman Law</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.css">
  <link rel="stylesheet" href="./public/css/style.css">
 <link href="https://fonts.googleapis.com/css?family=Poiret+One|Quicksand|Raleway" rel="stylesheet"> 
</head>
<body>

{{!-------------- HEADING -------------}}
<div class="container-fluid top">

  <div class="head">
        <div class="head-contact">
           <img src="../public/images/bglwhite.png">
        </div>
  </div>
  <div class="head-image">
     <div class="image">
    </div>
  </div>
  
    <div class="head">
      <div class="head-contact">
         <button><a href="/contact">Contact Us</a></button>
         </div>
       </div>
    </div>

{{!------------- NAVIGATION -----------}}

<nav class="navbar sticky-top navbar-expand-md navbar-dark bg-dark">
  <a class="navbar-brand" href="#"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="flex-fill navbar-nav mr-auto raleway">
      <li class="nav-item">
        <a class="nav-link" href="/">Welcome</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/team">Our Team</a>
      <li class="nav-item active">
        <a class="nav-link" href="/services">Services</a>
      </li>
            {{!-- <li class="nav-item">
        <a class="nav-link" href="/philanthropy">Philanthropy</a>
      </li> --}}
      <li class="nav-item">
        <a class="nav-link" href="/contact">Contact</a>
      </li>
    </ul>
  </div>
</nav>

{{!--------------- MAIN -------------}}

<div class="index services">
  <h1 class="raleway">Services</h1>
</div>

<div class="index services">
  <h2>Real Estate</h2>
    <div class="services-content">
        <p class="">A long history of helping buyers and sellers makes Barb an ideal resource as your representative in your sale, purchase, or lease. Buying and selling real estate could be the most stressful parts of a persons life, and Barb is here to make that process significantly easier.</p>
    </div>
  </div>
<div class="container-fluid lawyer">

</div>

<div class="index services">
         <h2 class="">Wills and Estate Planning</h2>
    <div class="services-content">
        <p class="">The most important thing a person can do is plan for their future. Barb works with individuals, couples, and families to make sure their plans are in place for the most unfortunate of events. Barb is aware this can be a sad topic, and works to support each client to their every need throughout the process.</p>
    </div>
</div>


{{!------------ FOOTER ---------------}}

<div class="container-fluid footer">
  <div class="row">
    <div class="col-md-4">Address</div>
    <div class="col-md-4">contact</div>
    <div class="col-md-4">Some Disclosure...</div>
  </div>
</div>

</body>

<script src="../node_modules/jquery/dist/jquery.js"></script>
<script src="../node_modules/popper.js/dist/umd/popper.js"></script>
<script src="../node_modules/bootstrap/dist/js/bootstrap.js"></script>

</html>