/*---------------------- MAIN --------------------------*/

body {
  background-color: white;
  font-family: "Quicksand";
  font-size: 16px;
}

.top {
  background: rgb(31, 40, 68);
  color: white;
  font-size: 2.5rem; 
}

.raleway {
  font-family: "Raleway";
  letter-spacing: 0.2rem;
}
.poiret{
  letter-spacing: 0.25rem;
  font-family: "Poiret One", "cursive";
  font-weight: 500;
}

.top ul {
  list-style: none;
  padding: 70px 0 0 0;
  margin: 0;
  text-align: right;
}

.top h2 {
    margin-bottom: 0;
    /* padding-top: 140px; */
}

.top .image {
  background: url("../images/chicago.jpg");
  background-size: cover; 
  background-position-y: 55%
}

.big{
  font-size: 3rem;
}

.borderblack {
  border-bottom: 3px solid black;
}

a {
  outline: none;
}


/* NAV */

.navbar ul {
  list-style: none;
}

.navbar li {
  letter-spacing: 0.1rem;
  font-size: 1.1rem;
  padding: 0 0.8rem;
}

.mr-auto {
  justify-content: end;
}


/*-------------------------- INDEX PAGE---------------------------- */

.header h1  {
  color: white;
  font-size: 5.2rem;
}

.header h3 {
  font-size: 3rem;
}

.header {
  background: url("../images/chicago.jpg") center;
  /* background: rgb(14, 19, 35); */
  background-size: cover;
  color: white;
  text-shadow: 1px 2px 4px black;
}
.header .container {
  margin: 0 auto;
  text-align: center;
  padding: 14% 2%;
}

.index {
  padding: 40px;
  font-size: 1.1rem;
}

.index h1 {
  padding: 30px 0;
  font-size: 2.8rem;
}

.blue {
  background: rgb(31, 40, 68);
  color: white;
  text-align: center;
  
}

ul {
  list-style: none;
}
.blue li {
  padding: 10px;
  font-size: 1.2rem;
}
.testimonial {
  border: 2px solid gray;
  border-radius: 10px;
  box-shadow: 1px 1px 22px black;
  background: rgb(245, 245, 245);
}

.testimonial h2 {
  font-size: 2.5rem;
}

.testimonial p {
  font-size: 1.3rem;
}

.author {
  text-align: right;
}


/* ------------------------CONTACT PAGE --------------------------*/

.contact .info {
  background: rgb(31, 40, 68);
  color: white;
  padding: 50px 10px;

}
.info {
  font-family: "Roboto";
}

.info ul {
  padding: 0;
  font-family: "Roboto";
}
.info li {
  line-height: 2.0rem;
  font-size: 1.2rem;
}

.info h3{
  font-size: 2.0rem;
  padding-bottom: 30px;
}

.info h4 {
    font-size: 1.5rem;
    padding-bottom: 30px;
}

.contact .card {
  color: black;
  margin-right: 20px;
  padding: 30px;
  font-family: "Roboto";
}

.contact h2 {
  font-size: 2.8rem;
  padding: 40px 0 0 0;
}

.card-title {
  text-align: center;
}

/* ------------------------------SERVICES PAGE-------------------------- */

.services{
  padding: 50px 20px;
}

.services h1 {
  font-size: 2.8rem;
}



/*------------------------------ TEAM PAGE -----------------------------*/

.team {
  padding: 90px 20px;
}


.teamtop {
  padding: 10px 20px 90px 20px; 
}

.team p {
  font-size: 1.2rem;
}

.padding {
  padding: 40px 20px;
}

.padding h1 {
  font-size: 2.8rem;
}





/*------------------------------ FOOTER -------------------------*/
.footer {
  height: 80px;
  background-color: #343a40;
  color: white;
}

