.focus-in{
    width: 95%;
    height: 95%;
    background: transparent;
    color: transparent;
    padding: 10%;
    position: relative;
    transition: color 1s ease 1s;
  }
  
  .focus-in::before, .focus-in::after {
    box-sizing: inherit;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%; 
  } 
  
  .focus-in:hover{
      background: rgba(0,0,0,0.3);
      color: white;
  }

  .draw {
    transition: color 1s ease 1s;
  }
  .draw::before, .draw::after {
    border: 2px solid transparent;
    width: 0;
    height: 0;
  }
  .draw::before {
   top : 0;
    left: 0;
  }
  .draw::after {
    bottom: 0;
    right: 0;
  }
  
  .draw:hover::before, .draw:hover::after {
    width: 100%;
    height: 100%;
  }
  .draw:hover::before {
    border-top-color: #fff;
    border-right-color: #fff;
    transition: width 0.5s ease-out, height 0.25s ease-out 2s;
  }
  .draw:hover::after {
    border-bottom-color: #fff;
    border-left-color: #fff;
    transition:  width 0.2s ease-out 0.5s, height 0.2s ease-out 2s;
  }
  
    .focus:hover .focus-in{
      display: table;
  } 
  
  
  .re{
    background: url("../images/re.jpg") center;
    background-size: cover;
    border-right: 1px solid white;
  }
  
  .el{
    background: url("../images/el.jpg") center;
    background-size: cover;
    
  }