/*------------------------ MEDIA ----------------------------*/

@media screen and (max-width: 768px) {

  .top {
    font-size: 1.0rem;
  }

  .top .image {
    display: none;
  }
  
  .top ul {
    padding: 15px 0 0 0;
  }

  .header h1  {
    color: white;
    font-size: 1.9rem;
  }
  .header h3 {
    font-size: 1.2rem;
  }
  .index h1 {
    padding: 15px 0;
    font-size: 1.4rem;
  }
  .index {
    padding: 20px;
    font-size: 0.9rem;
  }
  .testimonial h2 {
    font-size: 1.4rem;
  }
  .testimonial p {
    font-size: 0.9rem;
  }
  .blue li {
    padding: 5px;
    font-size: 0.9rem;
  }
  /* ---------CONTACT-------- */
  .contact h2 {
    font-size: 1.4rem;
    padding: 10px 0 0 0;
  }
  .info li {
    line-height: 1.4rem;
    font-size: 0.9rem;
  }
  
  .info h3{
    font-size: 1.2rem;
    padding-bottom: 15px;
  }
  
  .info h4 {
      font-size: 1rem;
      padding-bottom: 15px;
  }
  .card label {
    font-size: 0.9 !important;
  }
  .card h1 {
    font-size: 1.4 !important;
  }
  /* ----TEAM----- */
  .padding h1 {
    font-size: 1.5rem;
  }
 .team p {
  font-size: 0.9rem;
}
.teamtop p{
  font-size: 0.9rem;
}
.team {
  padding: 30px 10px;
}
.teamtop {
  padding: 10px 10px 40px 10px; 
}
.padding {
  padding: 20px 10px;
}
  
}

@media screen and (min-width: 768px) {

.top {
  font-size: 2.4rem;
}

.top ul {
  padding: 20px 0 0 0;

}

.top img{
  width: 200px;
  margin: 20px;
}

.header h1  {
  color: white;
  font-size: 4.2rem;
}

.header h3 {
  font-size: 2.5rem;
}

.index h1 {
  padding: 30px 0;
  font-size: 2.8rem;
}
.index {
  padding: 40px;
  font-size: 1.1rem;
}
.testimonial h2 {
  font-size: 2.5rem;
}
.testimonial p {
  font-size: 1.3rem;
}
.blue li {
  padding: 10px;
  font-size: 1.2rem;
}
.contact h2 {
  font-size: 2.8rem;
  padding: 40px 0;
}
.info li {
  line-height: 2.0rem;
  font-size: 1.2rem;
}

.info h3{
  font-size: 2.0rem;
  padding-bottom: 30px;
}

.info h4 {
    font-size: 1.5rem;
    padding-bottom: 30px;
}
.padding h1 {
  font-size: 2.8rem;
}

.team p {
  font-size: 1.2rem;
}
.team {
  padding: 90px 20px;
}
.teamtop {
  padding: 10px 20px 90px 20px; 
}
.padding {
  padding: 40px 20px;
}
}


/*---------------------- MAIN --------------------------*/

::-webkit-scrollbar {
  display: none;
}

body {
  background-color: white;
  font-family: "Quicksand", Arial, Helvetica, sans-serif;
  font-size: 16px;
}
.header {
  height: 90vh;
}
.angle {
  padding-top: 10vh !important;
  font-size: 4rem;
  color: white;
  width: 100px;
  transition: all 0.8s;
  -webkit-transition: all 0.8s;
  -moz-transition: all 0.8s;
}
.angle:hover {
  color: rgb(51, 62, 126);
 
}


.top {
  background: rgb(31, 40, 68);
  color: white;
}

.orbitron {
  font-family: "Orbitron";
  letter-spacing: 0.2rem;
}

.raleway {
  font-family: "Raleway";
  letter-spacing: 0.2rem;
}

.poiret{
  letter-spacing: 0.25rem;
  font-family: "Poiret One", "cursive";
  font-weight: 500;
}

.top ul {
  list-style: none;
  margin: 0;
  text-align: right;
}

.top h2 {
    margin-bottom: 0;
    /* padding-top: 140px; */
}

.top .image {
  background: url("../images/chicago.jpg");
  background-size: cover; 
  background-position-y: 55%
}

.borderblack {
  border-bottom: 3px solid black;
}

a {
  outline: none;
}


/* ---------------------------- NAV -------------------------- */

.navbar ul {
  list-style: none;
}

.navbar li {
  letter-spacing: 0.1rem;
  font-size: 1.1rem;
  padding: 0 0.8rem;
}

.mr-auto {
  justify-content: end;
}


/*-------------------------- INDEX PAGE---------------------------- */


.header {
  background: url("../images/chicago.jpg") center;
  /* background: rgb(14, 19, 35); */
  background-size: cover;
  color: white;
  text-shadow: 1px 2px 4px black;
}
.header .container {
  margin: 0 auto;
  text-align: center;
  padding-top: 35vh;
}


.blue {
  background: #1f2844;
  color: white;
  text-align: center;
  padding: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.testimonial {
  border: 2px solid gray;
  border-radius: 10px;
  box-shadow: 1px 1px 22px black;
  background: rgb(245, 245, 245);
}

.author {
  text-align: right;
}

.focus{
  width: 50%;
  display: inline-block;
  height: 400px;
}

.focus-in{
  display: none;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.3);
  transition: all 0.7s;
  -webkit-transition: all 0.7s;
  -moz-transition: all 0.7s; 
}
.focus:hover .focus-in{
  display: table;
}

.re{
  background: url("../images/re.jpg") center;
  background-size: cover;
  border-right: 1px solid white;
}

.el{
  background: url("../images/el.jpg") center;
  background-size: cover;
  
}


/* ------------------------CONTACT PAGE --------------------------*/

.contact {
  text-align: center;
}
.contact p{
  font-size: 1.2rem;
  padding: 0 60px;
}
.contact .info {
  background: #fff;
  color: #000000;
  padding: 50px 10px;

}
.info {
  text-align: center;
}

.info ul {
  padding: 0;
}

.icon{
  display: inline-block;
  width: 33%;
  color: rgb(31, 40, 68);
}

.icon i{
  font-size: 4rem;
  padding: 0 0 20px 0;
}

.contact .form{
  color: #fff;
  background: rgb(31, 40, 68);
}

input[type=submit]{
  color: white;
  background: transparent;
  border: 3px solid rgb(114, 7, 7);
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s; 
  letter-spacing: 0.2rem;
}

input[type=submit]:hover{
  background: transparent;
  border: 3px solid rgb(214, 10, 10);
}
.map{
  background: #1f2844;
  padding: 30px;
  width: 100%;
}

iframe{
  width: 100%;
  margin-top: 50px;
  height: 450px;
}

form {
  margin: 20px;
}
.form h1{
  margin: 20px 0 0 0;
  text-align: center;
}

.chart{
  width: 100%;

}
.charta{
  width: 49%;
}
.chartb{
  width: 49%;
  margin-left: 2%;
}
.chart-control{
  width: 100%;
  margin: 5px 0;
  padding: 10px;
}


/* ------------------------------SERVICES PAGE-------------------------- */

.services{
  padding: 50px 20px;
}

.services h1 {
  font-size: 2.8rem;
}

.lawyer {
  height: 100px;
  background: url("../images/lawyer.jpg") fixed;
  background-size: cover;
}



/*------------------------------ TEAM PAGE -----------------------------*/



/*------------------------------ FOOTER -------------------------*/
.footer {
  height: 80px;
  background-color: #343a40;
  color: white;
}


